@import url("./style-adwaita.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: IBM Plex Mono, JetBrains Mono, Iosevka, JetBrains Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    min-height: 0px;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @background_bar;
    border-bottom: 3px solid @background_bar;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @background_bar;
}

tooltip label {
    font-weight: normal;
    color: @text;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border-bottom: none;
    border-radius: 2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text_bright;
}

#workspaces button {
    padding: 0 3px;
    background-color: @background_bar;
    color: @button_main;
}

#workspaces button:hover {
    background: @button_hover;
    color: @background_bar;
    box-shadow: inset 0 -3px @button_hover_bg;
}

#workspaces button.focused {
    background-color: @button_focus;
    color: @background_bar;
    box-shadow: inset 0 -3px @button_focus_bg;
}

#workspaces button.active {
    background-color: @button_active;
    color: @background_bar;
    box-shadow: inset 0 -3px @button_active_bg;
}

#workspaces button.urgent {
    background-color: @button_urgent;
    color: @background_bar;
}

#mode {
    background-color: @mode_bg;
    border-bottom: 3px solid @mode_border;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    margin: 0 0 0;
    padding: 0 5px 0;
    color: @text;
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
}

#custom-arrow1,
#custom-arrow2,
#custom-arrow3,
#custom-arrow4,
#custom-arrow5,
#custom-arrow6 {
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
}


#window,
#workspaces {
    margin: 0 4px;
    border-bottom: 1.5pt solid transparent;
}

#window {
    font-style: italic;
    color: @window_title
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @clock;
    color: @background_bar;
}

#battery {
    background-color: @battery;
    color: @background_bar;
}

#battery.charging, #battery.plugged {
    background-color: @battery_plug;
}

@keyframes blink {
    to {
        background-color: @text_bright;
        color: @keyframes_blink;
    }
}

#battery.warning:not(.charging) {
    background-color: @battery_wrn_nc_bg;
    color: @battery_wrn_nc;
}

#battery.critical:not(.charging) {
    background-color: @battery_crit_bg;
    color: @battery_crit;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background_bar;
    color: @label_focus;
}

#cpu {
    background-color: @_cpu;
    color: @background_bar;
}

#memory {
    background-color: @_memory;
    color: @background_bar;
}

#disk {
    background-color: @_disk;
    color: @background_bar;
}

#backlight {
    background-color: @backlight;
    color: @background_bar;
}

#network {
    background-color: @network;
    color: @background_bar;
}

#network.disconnected {
    background-color: @network_disc;
}

#pulseaudio {
    background-color: @pulseaudio_bg;
    color: @pulseaudio;
}

#pulseaudio.muted {
    background-color: @pulseaudio_mut;
    color: @pulseaudio_mut_bg;
}

#wireplumber {
    background-color: @text;
    color: @wireplumber;
}

#wireplumber.muted {
    background-color: @wireplumber_mut;
}

#custom-media,
#mpris {
    background-color: @mpris_bg;
    font-style: italic;
    color: @mpris;
    min-width: 0px;
    padding: 0px 0px;
    margin-left: 7px;
}

#temperature {
    background-color: @_temperature;
    color: @background_bar;
}

#temperature.critical {
    background-color: @_temperature_crit;
}

#tray {
    background-color: @tray;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @tray_attent;
}

#idle_inhibitor {
    background-color: @idle_inhibitor;
}

#idle_inhibitor.activated {
    background-color: @idle_inhibit_abg;
    color: @idle_inhibit_a;
}

#scratchpad {
    background: @background_bar;
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-arrow1 {
    color: @pulseaudio_bg;
    background-color: @background_bar;
}

#custom-arrow2 {
    color: @network;
    background-color: @pulseaudio_bg;
}

#custom-arrow3 {
    color: @backlight;
    background-color: @network;
}

#custom-arrow4 {
    color: @battery;
    background-color: @backlight;
}

#custom-arrow5 {
    color: @clock;
    background-color: @battery;
}

#custom-arrow6 {
    color: @tray;
    background-color: @clock;
}
