/* For styling the rendered Markdown */
* .annotator-hl {
  background-color: rgba(0, 216, 181, .3) !important;
  border: 3px solid red !important;
}
body {
  font-family: 'IBM Plex Serif', 'DejaVu Sans', sans-serif, 'Source Serif 4', 'IBM Plex Serif', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
  margin-bottom: 1.75em !important;
  font-size:1.25em;
  /*margin-left: 1.75em;*/
  /*margin-right: 1.75em;*/
}
p, tr, td {
  font-family: 'IBM Plex Serif', 'DejaVu Sans', sans-serif, 'Source Serif 4', 'IBM Plex Serif', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
}
h1 {
    font-family: 'IBM Plex Serif', 'DejaVu Sans', sans-serif, 'Source Serif 4', 'IBM Plex Serif','Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
    margin-bottom: 1em !important;
}

h2, h3 {
    font-family: 'IBM Plex Serif', 'DejaVu Sans', sans-serif, 'Source Serif 4', 'IBM Plex Serif','Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
  margin-bottom: 1em !important;
}

 h4, h5, h6 {
    font-family: 'IBM Plex Serif', 'DejaVu Sans', sans-serif, 'Source Serif 4', 'IBM Plex Serif','Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
  margin-bottom: 1em !important;
}
code,
pre {
  font-family: 'IBM Plex Mono', 'iA Writer Mono V', 'Iosevka Term SS14', 'Fira Code';
  font-weight: 600;
  font-size: .98em;
  line-height: 1.35em;
  border-radius: 8px;
}

pre {
  background: rgba(0, 76, 114, 0.04) !important; // A little lighter
}

code {
  background: rgba(0, 76, 114, 0.08); // A little darker
}

pre code {
  background: none !important;
}

.code,
.inline-code {
  border: none;
  background: rgba(0, 76, 114, 0.08);
  border-radius: 4px;
}

img[title='250px'] { width: 250px; }
img[title='150px'] { width: 150px; }
img[title='450px'] { width: 450px; }
mark {
  background: #3edbff53 !important;
  padding: 1px 3px;
}
input[type='checkbox'] {
    cursor: pointer;
    margin-right: 1em;
    margin-top: 0.55em;
    margin-bottom: 0;
    margin-left: 0;
}
input[type='checkbox'],
.md-checkbox .checkbox-label-unchecked,
.md-checkbox .checkbox-label-checked,
li.md-checkbox {
    cursor: pointer !important;
}

/* Note: This is also set in the app directly, so if you remove it it may not
 * go away as expected. */
.md-checkbox .checkbox-label-checked,
.md-checkbox .checkbox-label-checked ~ * {
    opacity: 0.5;
}
.md-checkbox .checkbox-label-unchecked {
    opacity: 1;
}
.md-checkbox:hover {
    background: rgba(0, 76, 114, 0.03);
}
.md-checkbox p {
    display: flex;
    padding-left: 0.55em;
}
.md-checkbox pre {
  margin-left: 24px;
}
.md-checkbox ul,
.md-checkbox ol {
  margin-left: 3.2em;
}
/*********************************
 **** Links to internal notes ****
 *********************************/
a .resource-icon {
  display: none;
}
a[href='#'] {
  color: green;
}


